[user]
    email = marcelocralmeida@gmail.com
    name = Marcelo Almeida

[alias]
    s = status
    b = branch
    co = checkout
    d = ! git diff --color=always | less -r
    l = ! git log --color=always | less -r

[core]
    autocrlf = false
    editor = vim

