[user]
    email = marcelocralmeida@gmail.com
    name = Marcelo Almeida

[alias]
    b = branch
    co = checkout
    d = diff
    l = log
    s = status
    # The 'f' in the beginning stands for 'full'. So 'fd' -> 'full diff',
    # piping it through less.
    fd = ! git diff --color=always | less -R
    fl = ! git log --color=always | less -R

[core]
    autocrlf = false
    editor = vim

